@font-face {
  font-family: 'PermanentMarker';
  src: url('../fonts/PermanentMarker-Regular.ttf');
}

html { font-size: 10px; }
body { width: auto; height: auto; padding: 0 1rem 1rem 1rem; font-size: 10px; white-space: nowrap; font-family: 'PermanentMarker', cursive; line-height: 2; }

.titleContainer { display: flex; flex-direction: column; justify-content: center; border-bottom: .1rem solid #000; text-align: center; font-size: 2rem;}
.container { display: flex; align-items: left; padding: 3rem 0rem; font-size: 1.5rem; }
